$sans: "Trebuchet MS",
"futura",
helvetica,
geneva,
"Arial Rounded MT Bold",
"Helvetica rounded";

/**==========================================**/

$serif:Garamond,
"Rockwell Extra Bold",
Georgia,
palatino,
cambria,
;

/**==========================================**/

$monospace: "Courier New",
"Andale Mono",
monaco;

/**==========================================**/

$fantasy: Copperplate,
"Copperplate Gothic Light",
Papyrus;

/**==========================================**/

$script: "Brush Script MT",
cursive,
"Comic Sans";